<mat-progress-bar mode="indeterminate" *ngIf="!detailCourse"></mat-progress-bar>
<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->
<div class="row">
    <div class="col-5">
        <img [src]="detailCourse.hinhAnh" alt="">
    </div>
    <div class="col-7">
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"> -->

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <!-- <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> fsdfsdfsdf </td>
            </ng-container> -->
          
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> fgdfgdfgdf </td>
            </ng-container> -->
          
            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> dfgsgsdg </td>
            </ng-container> -->
          
            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> dfgdfgdfg </td>
            </ng-container> -->
          
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
            <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
          <!-- </table> -->
    </div>
</div>
