<mat-toolbar color="primary" class="navbar">
  <a routerLink="/">Udemy Course</a>
  <div>
    <a routerLink="" routerLinkActive="active2"  [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
    <a [routerLink]="['/detail/:id']" routerLinkActive="active2" >Detail</a>
    <a [routerLink]="['/checkout']" routerLinkActive="active2" >Checkout</a>
    <a [routerLink]="['/profile']" routerLinkActive="active2" >Profile</a>
    <a [routerLink]="['/checkout']" routerLinkActive="active2" class="material-icons">shopping_cart</a>
    <button mat-raised-button color="warn">Warn</button>
  </div>
</mat-toolbar>
